[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tencentcloud-sdk-python = "*"
rich = "*"
fire = "*"

[dev-packages]
black = "*"
coverage = {extras = ["toml"], version = "*"}
flake8 = "*"
isort = "*"
pytest = "*"
pytest-env = "*"

[requires]
python_version = "3.11"
